$color-primary: #1f4287;
$color-primary-light: #4b7ad6;
$color-primary-dark: #234a98;

$color-secondary-light: #5796ec;
$color-secondary-dark: #09254c;

$color-tertiary-light: #83d0e2;
$color-tertiary-dark: #248297;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #dddddd;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$default-font-fam: 'Lato', sans-serif;
$logo-font-fam: 'Combo', cursive;
