@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'components/btn';
@import 'components/card';
@import 'components/divider';
@import 'components/form';
@import 'components/popup';
@import 'components/tag';
@import 'components/typewriter';
@import 'components/cta';

@import 'base/animation';
@import 'base/base';
@import 'base/scrollbar';
@import 'base/typography';
@import 'base/utilities';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/navbar';
@import 'layout/portfolio';
@import 'layout/about';
@import 'layout/contact';
@import 'layout/quotes';

@import 'pages/home';
