@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'components/headings';
@import 'components/card';
@import 'components/popup';
@import 'components/tag';
@import 'components/typewriter';
@import 'components/cta';

@import 'base/animation';
@import 'base/base';
@import 'base/scrollbar';

@import 'layout/header';
@import 'layout/navbar';
@import 'layout/portfolio';
@import 'layout/about';

@import 'pages/home';
