.section-contact {
  min-height: 90vh;
  height: min-content;
  background-image: linear-gradient(
    to bottom left,
    rgba($color-tertiary-light, 1),
    rgba($color-secondary-light, 1) 80%
  );
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    padding: 2.5rem 3rem;
    height: min-content;
    width: 90%;
    background-image: linear-gradient(
        75deg,
        rgba($color-white, 0.85) 0,
        rgba($color-white, 0.8) 55%,
        transparent 50%
      ),
      url(../img/4.jpg);

    @include respond(tab-port) {
      background: none;
      background-image: linear-gradient(
        75deg,
        rgba($color-white, 0.85),
        rgba($color-white, 0.8)
      );
    }

    background-size: cover;
    background-position: top left;

    border-radius: 0.5rem;
    box-shadow: 0 1.6rem 7rem rgba($color-primary-dark, 0.7);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include respond(tab-port) {
      justify-content: center;
    }

    &-content {
      height: 95%;
      width: 55%;
      padding: 1rem 1.5rem;

      @include respond(tab-port) {
        width: 90%;

        text-align: center;
      }

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
