.header {
  grid-column: full-start / full-end;

  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.3) 0%,
    rgba($color-primary, 0.4) 15%,
    rgba($color-primary, 0.6) 40%,
    rgba($color-primary, 1) 85%
  );

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.3) 0%,
      rgba($color-primary, 0.4) 15%,
      rgba($color-primary, 0.6) 40%,
      rgba($color-primary, 1) 85%
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-blend-mode: overlay;

  @include respond(phone) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.3) 0%,
        rgba($color-primary, 0.4) 15%,
        rgba($color-primary, 0.6) 40%,
        rgba($color-primary, 1) 85%
      ),
      url(../img/hero-small.jpg);
    background-position: top left;
  }

  &__hero {
    &-box {
      position: absolute;
      top: 65%;
      left: 5%;
      height: min-content;
      width: 50vw;
      border-radius: 0.5rem;
      transform: translateY(-60%);
      background-image: linear-gradient(
        to bottom,
        rgba($color-grey-dark-2, 0.096) 0%,
        rgba($color-grey-dark-2, 0.096) 42%,
        rgba($color-grey-dark-2, 0.432)
      );
      padding: 2rem 3.5rem;

      @include respond(big-desktop) {
        width: 30vw;
      }

      @include respond(tab-land) {
        width: 55vw;
        top: 70%;
      }

      @include respond(tab-port) {
        top: 65%;
        left: 3%;
      }

      @include respond(phone) {
        width: 80vw;
        top: 70%;
        left: 2%;
      }
    }

    &-title {
      font-size: 7rem;
      font-family: $logo-font-fam;
      color: $color-secondary-dark;
      margin-bottom: 2rem;
      letter-spacing: 0.5px;

      @include respond(tab-port) {
        font-size: 6.5rem;
      }

      @include respond(phone) {
        & > span {
          margin-right: 2rem;
        }
      }
    }

    &-subtitle {
      font-size: 4rem;
      font-family: $my-font-fam;
      font-weight: 900;
      color: $color-grey-light-2;
      margin-bottom: 4rem;
      letter-spacing: 1px;

      @include respond(tab-port) {
        font-size: 3rem;
        letter-spacing: 2px;
      }
    }

    &-cta-box {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1rem;

      & > :first-child {
        margin-right: 3rem;
      }

      @include respond(big-desktop) {
        & > :first-child {
          margin-right: 4rem;
        }
      }
    }
  }
}
