.nav {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-dark-2, 0.096) 0%,
    rgba($color-grey-dark-2, 0.096) 42%,
    rgba($color-grey-dark-2, 0.432)
  );
  width: 100%;
  height: 6.5rem;
  padding: 1.5rem 3rem;

  display: flex;

  &__left,
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    width: min-content;
    margin-left: auto;
  }

  &__item {
    font-weight: 300;
    text-align: center;
    padding: 0 1.4rem;
  }

  &__item-link:link,
  &__item-link:visited {
    font-size: 2.7rem;
    font-weight: 400;
    display: inline-block;
    color: $color-grey-light-2;
    letter-spacing: 0.4px;
    text-decoration: none;
    position: relative;

    @include respond(tab-port) {
      font-size: 2.4rem;
      font-weight: 300;
    }
  }

  &__item-link::after {
    content: '';
    position: absolute;
    background-color: $color-secondary-dark;
    height: 2px;
    width: 0%;
    bottom: -5%;
    left: 0;
    backface-visibility: hidden;
    transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s;

    @include respond(tab-port) {
      height: 1px;
    }
  }

  &__item-link:hover {
    &::after {
      width: 100%;
    }
  }

  &__item-link:focus,
  &__item-link:active {
    color: $color-primary;
  }

  &__logo-box {
    height: 4rem;
    width: 4rem;
  }

  &__logo {
    height: 100%;
    width: 100%;
  }
}
