.nav {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-dark-2, 0.096) 0%,
    rgba($color-grey-dark-2, 0.096) 42%,
    rgba($color-grey-dark-2, 0.432)
  );
  width: 100%;
  height: $navbar-height;
  padding: 1.1rem 3rem;
  position: relative;
  transition: all 0.6s;

  display: flex;

  @include respond(phone) {
    padding: 1rem 0;
    display: block;
    height: min-content;
  }

  &__left,
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    width: min-content;
    margin-left: auto;

    &.is-active {
      @include respond(phone) {
        display: flex;
        position: absolute;
        top: 100%;
        height: 8vh;
        width: 98vw;
        background-image: linear-gradient(
          to bottom,
          rgba($color-grey-dark-2, 0.096) 0%,
          rgba($color-grey-dark-2, 0.096) 42%,
          rgba($color-grey-dark-2, 0.432)
        );
        animation: navFadeDown 0.5s ease-out;
        animation-fill-mode: backwards;
        justify-content: space-evenly;
      }
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__item {
    font-weight: 300;
    text-align: center;
    padding: 0 2rem;

    @include respond(big-desktop) {
      padding: 0 4.5rem;
    }

    @include respond(tab-port) {
      padding: 0 1.8rem;
    }

    @include respond(phone) {
      padding: 0 1rem;
    }
  }

  &__item-link:link,
  &__item-link:visited {
    font-size: 2.2rem;
    font-weight: 400;
    display: inline-block;
    color: $color-grey-light-2;
    letter-spacing: 0.4px;
    text-decoration: none;
    position: relative;
    transition: color 0.2s;

    @include respond(tab-port) {
      font-size: 2rem;
    }
    @include respond(phone) {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  &__item-link::after {
    content: '';
    position: absolute;
    background-color: $color-secondary-dark;
    height: 2px;
    width: 0%;
    bottom: -5%;
    left: 0;
    backface-visibility: hidden;
    transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s;

    @include respond(tab-port) {
      height: 1px;
    }
  }

  &__item-link:hover {
    color: $color-grey-light-1;
    &::after {
      width: 100%;
    }
  }

  &__logo-box {
    font-family: $logo-font-fam;
    font-size: 5rem;
    font-weight: bolder;
    color: $color-secondary-dark;
    // height: 4rem;
    // width: 4rem;

    // @include respond(phone) {
    //   height: 3.5rem;
    //   width: 3.5rem;
    // }
  }

  // &__logo {
  //   height: 100%;
  //   width: 100%;
  // }

  &__ham {
    height: 2rem;
    width: 2.5rem;
    position: relative;
    display: none;
    cursor: pointer;

    @include respond(phone) {
      display: block;
      margin-right: 2rem;
    }

    &-line {
      background-color: $color-secondary-dark;
      width: 95%;
      height: 1px;
      display: inline-block;

      &--1 {
        position: absolute;
        top: 0;
      }
      &--2 {
        position: absolute;
        top: 50%;
      }
      &--3 {
        position: absolute;
        bottom: 0;
      }
    }

    // When someone click on the menu
    &.is-active &-line {
      transition: all 0.1s;

      &--1 {
        transform: rotate(-135deg);
        top: 50%;
      }
      &--2 {
        background-color: transparent;
      }
      &--3 {
        top: 50%;
        transform: rotate(135deg);
      }
    }
  }
}

/**
* Sticky nav
*/
.nav.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-image: none;
  background-color: $color-grey-light-3-lighter;
  box-shadow: 0 1rem 1.5rem rgba($color-black, 0.1);

  .nav__item-link:link,
  .nav__item-link:visited {
    color: $color-secondary-dark;
  }
}
