.nav {
  background-image: linear-gradient(
    rgba($color-grey-dark-2, 0.096) 0%,
    rgba($color-grey-dark-2, 0.096) 42%,
    rgba($color-grey-dark-2, 0.432)
  );
  width: 100%;
  height: min-content;
  padding: 1.1rem 3rem;
  position: relative;
  transition: all 0.6s;

  display: flex;

  @include respond(phone) {
    padding: 1rem 0;
    display: block;
    height: min-content;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    justify-content: space-between;
  }

  &__right {
    width: min-content;
    margin-left: auto;

    &.is-active {
      @include respond(phone) {
        margin-left: -1rem; // fixes some weird bug when width 100vw

        position: absolute;
        top: 100%;
        height: min-content;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-image: linear-gradient(
          to bottom,
          rgba($color-grey-dark-2, 0.096) 0%,
          rgba($color-grey-dark-2, 0.096) 42%,
          rgba($color-grey-dark-2, 0.432)
        );

        animation: navFadeDown 0.5s ease-out;
        animation-fill-mode: backwards;
        justify-content: space-evenly;

        .nav__item {
          margin: 0.5rem 2rem;

          &:last-child {
            margin-bottom: 1rem;
          }
        }
      }
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__item {
    font-weight: 300;
    text-align: center;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    @include respond(big-desktop) {
      &:not(:last-child) {
        margin-right: 8rem;
      }
    }

    @include respond(tab-port) {
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }

  &__item-link:link,
  &__item-link:visited {
    font-size: 2.4rem;
    font-weight: 400;
    display: inline-block;
    color: $color-grey-light-2;
    letter-spacing: 0.4px;
    text-decoration: none;
    position: relative;
    transition: color 0.2s;

    @include respond(big-desktop) {
      font-size: 3rem;
      font-weight: 700;
    }

    @include respond(tab-port) {
      font-size: 2.8rem;
    }
    @include respond(phone) {
      font-size: 2rem;
      font-weight: 400;
    }
  }

  &__item-link::after {
    content: '';
    position: absolute;
    background-color: $color-secondary-dark;
    height: 2px;
    width: 0%;
    bottom: -5%;
    left: 0;
    backface-visibility: hidden;
    transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s;

    @include respond(tab-port) {
      height: 1px;
    }
  }

  &__item-link:hover {
    color: $color-grey-light-1;
    &::after {
      width: 100%;
    }
  }

  &__logo-box {
    font-family: $logo-font-fam;
    font-size: 4.5rem;
    font-weight: bolder;
    color: $color-secondary-dark;

    @include respond(big-desktop) {
      font-size: 6rem;
    }

    @include respond(phone) {
      margin-left: 1rem;
      font-size: 4rem;
    }
  }

  &__ham {
    height: 2rem;
    width: 2.5rem;
    position: relative;
    display: none;
    cursor: pointer;

    @include respond(phone) {
      display: block;
      margin-right: 2rem;
    }

    &-line {
      background-color: $color-secondary-dark;
      width: 95%;
      height: 1px;
      display: inline-block;

      &--1 {
        position: absolute;
        top: 0;
      }
      &--2 {
        position: absolute;
        top: 50%;
      }
      &--3 {
        position: absolute;
        bottom: 0;
      }
    }

    // When someone click on the menu
    &.is-active &-line {
      transition: all 0.1s;

      &--1 {
        transform: rotate(-135deg);
        top: 50%;
      }
      &--2 {
        background-color: transparent;
      }
      &--3 {
        top: 50%;
        transform: rotate(135deg);
      }
    }
  }
}

/**
* Sticky nav
*/
.nav.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-image: none;
  background-color: rgba($color-grey-light-3-lighter, 0.96);
  border-radius: 0 0 0.6rem 0.6rem;
  box-shadow: 0 1rem 1.5rem rgba($color-black, 0.1);
  z-index: 45;

  .nav__item-link:link,
  .nav__item-link:visited {
    color: $color-secondary-dark;
  }

  .nav__right.is-active {
    margin-left: 0;

    margin-top: -0.5rem;
    z-index: 100;
    background-image: none;
    background-color: $color-grey-light-4;

    .nav-item-link {
      color: $color-secondary-dark;
    }
  }
}
