.section-quotes {
  background-color: #efefefb3;
  box-shadow: inset 0 1.6rem 1rem rgb(0 0 0 / 35%),
    inset 0 -1.6rem 1rem rgb(0 0 0 / 35%);

  &__content {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    gap: 6rem 8rem;
    margin: 5rem auto;

    @include respond(tab-land) {
      gap: 4rem;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    @include respond(phone) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }

  &__box {
    padding: 0.5rem 3rem;
    height: 20rem;
    width: 100%;
    background-color: #fefefec7;
    position: relative;
    border-radius: 0 0 1rem 0;
    box-shadow: 0.8rem 0.5rem 0.8rem rgba($color-black, 0.15);
    transition: transform 1s, box-shadow 0.3s;

    @include respond(tab-land) {
      height: 32rem;
    }

    @include respond(phone) {
      height: 30rem;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow: hidden;

    &:nth-child(odd) {
      // zoom-in-right
      opacity: 0;
      transform: translate3d(-10rem, 0, 0) scale(0.6);

      &.show-quotes {
        opacity: 1;
        transform: translateZ(0) scale(1);
      }
    }

    &:nth-child(even) {
      // zoom-in-left
      opacity: 0;
      transform: translate3d(10rem, 0, 0) scale(0.6);

      &.show-quotes {
        opacity: 1;
        transform: translateZ(0) scale(1);
      }
    }

    &:hover {
      box-shadow: 1.2rem 0.8rem 1.2rem rgba($color-black, 0.2);
    }

    &::after {
      content: '\275d';
      position: absolute;
      color: #77777712;
      left: -1.5rem;
      top: -8rem;
      font-size: 30rem;
    }
  }

  &__quote {
    font-size: 2.6rem;
    font-style: italic;
    color: $color-grey-dark-3;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 0.1px;
    margin: 1.2rem 0;
  }

  &__author {
    font-size: 2.7rem;
    color: $color-grey-dark-3;
    align-self: flex-end;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-right: 3rem;
  }
}
