/*
0-600px 	    PHONE
600-900px       TABLET PORTRAIT
900-1200px      TABLET LANDSCAPE
1200-1800px     IS WHERE OUR NORMAL STYLES APPLY
1800px+         BIG DESKTOP
$breakpoint arguments
-- phone
--tab-port
--tab-land
--big-desktop
1em = 16px;
ORDER:
BASE + TYPOGRAPHY
GENERAL LAYOUT + GRID
PAGE LAYOUT
COMPONENTS
*/
.section__header {
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(to right bottom, #4b7ad6, #09254c);
  letter-spacing: 0.5px;
  line-height: 1.6;
  -webkit-background-clip: text;
  position: relative;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .section__header {
    font-size: 3.4rem;
  }
}
.section__header span {
  text-transform: none;
}
.section__header::after {
  content: "";
  background-color: #09254c;
  height: 2px;
  width: 35%;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.section__sub-header {
  display: inline-block;
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  color: #248297;
  letter-spacing: 0.4px;
  line-height: 1.6;
  font-weight: 400;
}

.card {
  height: 30rem;
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.3);
  background-color: #dddddd;
  overflow: hidden;
  position: relative;
}
.card:hover .card__image {
  transform: scale(1.05);
  filter: blur(5px);
}
.card:hover .card__details-box {
  transform: translateX(100%);
}
.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.15);
  transition: all 0.4s;
}
.card__details-box {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: transform 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card__details-title {
  justify-self: start;
  text-align: left;
  margin-left: 3rem;
  line-height: 1.6;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #1f4287;
  letter-spacing: 1px;
}
.card__details-title span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  border-radius: 0.3rem;
}
.card__details-button {
  display: inline-block;
  width: min-content;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #09254c;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-left: 3rem;
  cursor: pointer;
  transition: transform 0.1s;
}
.card__details-button:active {
  transform: translateY(2px);
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: 45rem;
    border-radius: 0.8rem;
    background-color: #fafafa;
  }
  .card:hover .card__image {
    transform: scale(1.15);
    filter: none;
  }
  .card:hover .card__details-box {
    transform: none;
  }
  .card__image {
    height: 45%;
    width: 90%;
    transition: none;
  }
  .card__details-box {
    position: relative;
    left: 0;
    height: 50%;
    width: 90%;
    transition: none;
    margin-top: 1rem;
    margin-left: 1.2rem;
    align-items: center;
  }
  .card__details-title {
    text-align: center;
  }
  .card__details-title span {
    background-image: none;
  }
}
@media only screen and (max-width: 37.5em), only screen and (hover: none) {
  .card {
    height: 38rem;
  }
  .card__details-box {
    margin-left: 0;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.5rem);
  transition: background-color 0.3s, backdrop-filter 0.3s;
  z-index: 1000;
}
.popup__box {
  height: 75%;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  box-shadow: 0 1.6rem 6rem rgba(0, 0, 0, 0.7);
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s;
}
@media only screen and (min-width: 81.25em) and (hover: none) {
  .popup__box {
    height: 50%;
  }
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__box {
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 2rem;
    height: 60%;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__box {
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 2rem;
    height: 75%;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__box {
    height: 80%;
    width: 99%;
    padding: 1rem 1.5rem;
    justify-content: flex-start;
  }
}
.popup__close {
  position: absolute;
  top: 1rem;
  right: 2.4rem;
  font-size: 3rem;
  font-weight: 700;
  color: #09254c;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .popup__close {
    top: 0.4rem;
    right: 1.4rem;
    font-size: 2rem;
  }
}
.popup__right {
  width: 35%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__right {
    height: 35%;
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__right {
    height: 35%;
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right {
    width: 95%;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}
.popup__right-top {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__right-bottom {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__right-bottom {
    justify-content: space-around;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__right-bottom {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right-bottom {
    margin-top: 0rem;
  }
}
.popup__right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translateY(-50%);
  height: 40%;
  width: 2px;
  background-color: #09254c;
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__right::after {
    top: 120%;
    right: 50%;
    height: 2px;
    width: 70%;
    transform: translateX(50%);
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__right::after {
    top: 120%;
    right: 50%;
    height: 2px;
    width: 70%;
    transform: translateX(50%);
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right::after {
    top: 113%;
    right: 50%;
    height: 2px;
    width: 65%;
  }
}
.popup__left {
  height: 80%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem 4rem;
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__left {
    height: 35%;
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__left {
    height: 35%;
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__left {
    width: 95%;
  }
}
.popup__image-box {
  height: 20rem;
  width: 90%;
  overflow: hidden;
  border-radius: 1rem;
  background-image: linear-gradient(rgba(35, 74, 152, 0.096) 0%, rgba(35, 74, 152, 0.096) 42%, rgba(35, 74, 152, 0.432));
}
@media only screen and (max-width: 56.25em) {
  .popup__image-box {
    margin-bottom: 0rem;
    height: 15rem;
    width: 80%;
  }
}
.popup__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  box-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.2);
}
.popup__button {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 64em) and (max-height: 50em) {
  .popup__button {
    font-size: 1.8rem;
    padding: 0.6rem 1.2rem;
  }
}
@media only screen and (max-width: 75em) {
  .popup__button {
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__button {
    padding: 0.4rem 1rem;
  }
}
.popup__button svg {
  margin-right: 1rem;
}
@media only screen and (max-width: 75em) {
  .popup__button svg {
    height: 2.6rem;
    width: 2.6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__button svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.popup__button--full {
  background-color: #09254c;
  color: #f4f4f4;
}
.popup__button--full svg {
  fill: #f4f4f4;
}
.popup__button--half {
  border: 1px solid #09254c;
  color: #09254c;
  font-weight: 500;
}
.popup__button--half svg {
  fill: #09254c;
}
.popup__title {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #1f4287;
}
@media only screen and (max-width: 37.5em) {
  .popup__title {
    font-size: 2.4rem;
  }
}
.popup__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 95%;
}
@media only screen and (max-width: 56.25em) {
  .popup__tags {
    margin: 1.5rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__tags {
    margin: 1rem 0;
  }
}
.popup__description {
  text-align: justify;
}
@media only screen and (max-width: 37.5em) {
  .popup__description {
    font-size: 1.7rem;
  }
}

.tag {
  padding: 0.5rem 0.7rem;
  color: #eee;
  background-color: #248297;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.tag:not(:last-child) {
  margin-right: 1rem;
}

/* cursor */
.typewriter-content > .txt {
  position: relative;
  border-right: 2px solid transparent;
}
.typewriter-content > .txt::after {
  content: "";
  height: 90%;
  width: 2px;
  background-color: #09254c;
  position: absolute;
  right: -0.5rem;
  top: 0;
  animation: blink 1.06s infinite backwards;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navFadeDown {
  0% {
    top: 45%;
    opacity: 0.2;
  }
  80% {
    top: 115%;
    opacity: 0.9;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

.page-container {
  display: grid;
  grid-template-rows: 100vh min-content repeat(8, 45rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

::selection {
  background-color: #83d0e2;
  color: #f4f4f4;
}

/* Works on Firefox */
/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 1rem;
  border-radius: 2rem;
}

body::-webkit-scrollbar-track {
  background-color: #021334;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#20a59e, #8fcc8e);
  border-radius: 2rem;
}

.cta {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s, transform 0.01s;
}
@media only screen and (max-width: 37.5em) {
  .cta {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
}
.cta:active {
  transform: translateY(0.2rem);
}
.cta--primary {
  color: #dddddd;
  background-color: #09254c;
}
.cta--primary:hover {
  background-color: #092041;
  color: #eee;
}
.cta--secondary {
  background-color: transparent;
  border: 1px solid #09254c;
  color: #09254c;
}
.cta--secondary:hover {
  background-color: #09254c;
  color: #eee;
}

.header {
  grid-column: full-start/full-end;
  background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%);
  background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%), url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-blend-mode: overlay;
}
@media only screen and (max-width: 37.5em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%), url(../img/hero-small.jpg);
    background-position: top left;
  }
}
.header__hero-box {
  position: absolute;
  top: 65%;
  left: 5%;
  height: min-content;
  width: 42vw;
  border-radius: 0.5rem;
  transform: translateY(-60%);
  background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  padding: 2rem 3.5rem;
}
@media only screen and (min-width: 112.5em) {
  .header__hero-box {
    width: 30vw;
  }
}
@media only screen and (max-width: 75em) {
  .header__hero-box {
    width: 55vw;
    top: 70%;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__hero-box {
    top: 65%;
    left: 3%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__hero-box {
    width: 80vw;
    top: 70%;
    left: 2%;
  }
}
.header__hero-title {
  font-size: 7rem;
  font-family: "Combo", cursive;
  color: #09254c;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 56.25em) {
  .header__hero-title {
    font-size: 6.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__hero-title > span {
    margin-right: 2rem;
  }
}
.header__hero-subtitle {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  color: #f4f4f4;
  margin-bottom: 4rem;
  letter-spacing: 1px;
}
@media only screen and (max-width: 56.25em) {
  .header__hero-subtitle {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}
.header__hero-cta-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.header__hero-cta-box > :first-child {
  margin-right: 3rem;
}
@media only screen and (min-width: 112.5em) {
  .header__hero-cta-box > :first-child {
    margin-right: 4rem;
  }
}

.nav {
  background-image: linear-gradient(rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  width: 100%;
  height: min-content;
  padding: 1.1rem 3rem;
  position: relative;
  transition: all 0.6s;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 1rem 0;
    display: block;
    height: min-content;
  }
}
.nav__left, .nav__right {
  display: flex;
  align-items: center;
}
.nav__left {
  justify-content: space-between;
}
.nav__right {
  width: min-content;
  margin-left: auto;
}
@media only screen and (max-width: 37.5em) {
  .nav__right.is-active {
    margin-left: -1rem;
    position: absolute;
    top: 100%;
    height: min-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
    animation: navFadeDown 0.5s ease-out;
    animation-fill-mode: backwards;
    justify-content: space-evenly;
  }
  .nav__right.is-active .nav__item {
    margin: 0.5rem 2rem;
  }
  .nav__right.is-active .nav__item:last-child {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__right {
    display: none;
  }
}
.nav__item {
  font-weight: 300;
  text-align: center;
}
.nav__item:not(:last-child) {
  margin-right: 4rem;
}
@media only screen and (min-width: 112.5em) {
  .nav__item:not(:last-child) {
    margin-right: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item:not(:last-child) {
    margin-right: 3rem;
  }
}
.nav__item-link:link, .nav__item-link:visited {
  font-size: 2.4rem;
  font-weight: 400;
  display: inline-block;
  color: #f4f4f4;
  letter-spacing: 0.4px;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;
}
@media only screen and (min-width: 112.5em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 3rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 2rem;
    font-weight: 400;
  }
}
.nav__item-link::after {
  content: "";
  position: absolute;
  background-color: #09254c;
  height: 2px;
  width: 0%;
  bottom: -5%;
  left: 0;
  backface-visibility: hidden;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .nav__item-link::after {
    height: 1px;
  }
}
.nav__item-link:hover {
  color: #fafafa;
}
.nav__item-link:hover::after {
  width: 100%;
}
.nav__logo-box {
  font-family: "Combo", cursive;
  font-size: 4.5rem;
  font-weight: bolder;
  color: #09254c;
}
@media only screen and (min-width: 112.5em) {
  .nav__logo-box {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__logo-box {
    margin-left: 1rem;
    font-size: 4rem;
  }
}
.nav__ham {
  height: 2rem;
  width: 2.5rem;
  position: relative;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .nav__ham {
    display: block;
    margin-right: 2rem;
  }
}
.nav__ham-line {
  background-color: #09254c;
  width: 95%;
  height: 1px;
  display: inline-block;
}
.nav__ham-line--1 {
  position: absolute;
  top: 0;
}
.nav__ham-line--2 {
  position: absolute;
  top: 50%;
}
.nav__ham-line--3 {
  position: absolute;
  bottom: 0;
}
.nav__ham.is-active .nav__ham-line {
  transition: all 0.1s;
}
.nav__ham.is-active .nav__ham-line--1 {
  transform: rotate(-135deg);
  top: 50%;
}
.nav__ham.is-active .nav__ham-line--2 {
  background-color: transparent;
}
.nav__ham.is-active .nav__ham-line--3 {
  top: 50%;
  transform: rotate(135deg);
}

/**
* Sticky nav
*/
.nav.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-image: none;
  background-color: rgba(236, 236, 236, 0.96);
  border-radius: 0 0 0.6rem 0.6rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  z-index: 45;
}
.nav.is-sticky .nav__item-link:link,
.nav.is-sticky .nav__item-link:visited {
  color: #09254c;
}
.nav.is-sticky .nav__right.is-active {
  margin-left: 0;
  margin-top: -0.5rem;
  z-index: 100;
  background-image: none;
  background-color: #dddddd;
}
.nav.is-sticky .nav__right.is-active .nav-item-link {
  color: #09254c;
}

section {
  grid-column: full-start/full-end;
  padding: 8rem 4rem;
  text-align: center;
}

.section-portfolio {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .section-portfolio {
    padding: 8rem 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-portfolio {
    padding: 6.5rem 4rem;
  }
}
.section-portfolio__projects {
  align-self: stretch;
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 8rem 6rem;
  justify-items: center;
}
@media only screen and (min-width: 112.5em) {
  .section-portfolio__projects {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  }
}
@media only screen and (max-width: 75em) {
  .section-portfolio__projects {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-portfolio__projects {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-portfolio__projects {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 6rem;
  }
}
.section-portfolio__btn {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Indie Flower", cursive;
  letter-spacing: 0.4px;
  padding: 0.4rem 0.6rem;
  margin-top: 2rem;
  color: #248297;
  outline: none;
  border: none;
  border-bottom: 1px solid #248297;
  background-color: transparent;
  transition: all 0.3s;
}
.section-portfolio__btn:hover {
  transform: translateY(-0.5rem);
  background-color: #248297;
  color: #f4f4f4;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}
.section-portfolio__btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.8rem 2.5rem rgba(0, 0, 0, 0.5);
}
.section-portfolio__btn:disabled {
  opacity: 0.4;
  transform: none;
  background-color: transparent;
  color: #248297;
  box-shadow: none;
}

.section-about {
  height: 120vh;
  position: relative;
  text-align: inherit;
  background-image: linear-gradient(#1f4287 0%, rgba(31, 66, 135, 0.85) 25%, rgba(31, 66, 135, 0.7) 50%, rgba(31, 66, 135, 0.85) 75%, #1f4287 100%), url(../img/1c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  box-shadow: inset 0 2rem 10rem rgba(0, 0, 0, 0.2), inset 0 -2rem 10rem rgba(0, 0, 0, 0.2);
  background-attachment: fixed;
}
.section-about__desc {
  position: absolute;
  top: 50%;
  left: 15%;
  border-radius: 0.5rem;
  transform: translate(-15%, -50%);
  background-image: linear-gradient(to top right, rgba(244, 244, 244, 0.2) 0%, rgba(244, 244, 244, 0.77) 27%, rgba(244, 244, 244, 0.8));
  height: min-content;
  width: 50%;
  overflow: hidden;
  padding: 3rem;
}
.section-about__desc-title {
  font-size: 6rem;
  font-family: "Combo", cursive;
  letter-spacing: 0.5px;
  font-weight: bolder;
  color: #4b7ad6;
  margin: 2rem 0;
}
.section-about__desc-title-sub {
  display: block;
  margin-top: 0.4rem;
}
.section-about__desc-body {
  margin: 3rem 0;
  font-size: 2.3rem;
  line-height: 1.6;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
  color: #0b3166;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
