@charset "UTF-8";
/*
0-600px 	    PHONE
600-900px       TABLET PORTRAIT
900-1200px      TABLET LANDSCAPE
1200-1800px     IS WHERE OUR NORMAL STYLES APPLY
1800px+         BIG DESKTOP
$breakpoint arguments
-- phone
--tab-port
--tab-land
--big-desktop
1em = 16px;
ORDER:
BASE + TYPOGRAPHY
GENERAL LAYOUT + GRID
PAGE LAYOUT
COMPONENTS
*/
.btn {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Indie Flower", cursive;
  letter-spacing: 0.4px;
  padding: 0.4rem 0.6rem;
  color: #248297;
  outline: none;
  border: none;
  border-bottom: 1px solid #248297;
  background-color: transparent;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-0.5rem);
  background-color: #248297;
  color: #f4f4f4;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.8rem 2.5rem rgba(0, 0, 0, 0.5);
}
.btn:disabled {
  opacity: 0.4;
  transform: none;
  background-color: transparent;
  color: #248297;
  box-shadow: none;
}

.card {
  height: 30rem;
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.3);
  background-color: #dddddd;
  overflow: hidden;
  position: relative;
}
.card:hover .card__image {
  transform: scale(1.05);
  filter: blur(5px);
}
.card:hover .card__details-box {
  transform: translateX(100%);
}
.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.15);
  transition: all 0.4s;
}
.card__details-box {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: transform 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card__details-title {
  justify-self: start;
  text-align: left;
  margin-left: 3rem;
  line-height: 1.6;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #1f4287;
  letter-spacing: 1px;
}
.card__details-title span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  border-radius: 0.3rem;
}
.card__details-button {
  display: inline-block;
  width: min-content;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #09254c;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-left: 3rem;
  cursor: pointer;
  transition: transform 0.1s;
}
.card__details-button:active {
  transform: translateY(2px);
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: 45rem;
    border-radius: 0.8rem;
    background-color: #eee;
  }
  .card:hover .card__image {
    transform: scale(1.15);
    filter: none;
  }
  .card:hover .card__details-box {
    transform: none;
  }
  .card__image {
    height: 45%;
    width: 90%;
    transition: none;
  }
  .card__details-box {
    position: relative;
    left: 0;
    height: 50%;
    width: 90%;
    transition: none;
    margin-top: 1rem;
    margin-left: 1.2rem;
    align-items: center;
  }
  .card__details-title {
    color: #248297;
    text-align: center;
  }
  .card__details-title span {
    background-image: none;
  }
}
@media only screen and (max-width: 37.5em), only screen and (hover: none) {
  .card {
    height: 38rem;
  }
  .card__details-box {
    margin-left: 0;
  }
}
.divider {
  display: flex;
  height: 3rem;
  width: 90%;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
}
.divider__text {
  font-size: 2rem;
  color: #333;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.1px;
  position: relative;
}
.divider__text::before, .divider__text::after {
  content: "";
  height: 1px;
  width: 15rem;
  background-color: #777;
  position: absolute;
  top: 50%;
}
.divider__text::before {
  left: 150%;
}
.divider__text::after {
  right: 150%;
}

.form {
  padding: 1rem 1.4rem;
  height: min-content;
}
.form__control:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__label {
  display: block;
  font-size: 1.5rem;
  opacity: 1;
  color: #999;
  font-weight: 500;
  margin-left: 1.5rem;
  margin-top: 0.8rem;
  transition: all 0.3s;
  transform: translateY(0);
}
.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: #999;
  letter-spacing: 0.2px;
  padding: 0.8rem 1rem;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0.5rem;
  background-color: rgba(250, 250, 250, 0.4);
  text-indent: 1rem;
  height: 4.5rem;
  width: 80%;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid #234a98;
}
.form__input:focus:invalid {
  border-bottom: 3px solid orangered;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-4rem);
}
.form__textarea {
  height: 15rem !important;
  width: 80% !important;
}
@media only screen and (max-width: 56.25em) {
  .form__textarea {
    width: 100% !important;
  }
}
.form__checkbox {
  margin-right: 5rem;
  opacity: 0;
}
.form__checkbox-label {
  font-size: 1.8rem;
  position: relative;
}
.form__checkbox-label::before {
  content: "";
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: -5rem;
  color: #333;
  height: 2.2rem;
  width: 2.2rem;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 0.5rem;
}
.form__checkbox:checked + .form__checkbox-label::before {
  content: "✓";
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.5rem);
  transition: background-color 0.3s, backdrop-filter 0.3s;
  z-index: 1000;
}
.popup__box {
  height: 75%;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  box-shadow: 0 1.6rem 6rem rgba(0, 0, 0, 0.7);
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s;
}
@media only screen and (min-width: 81.25em) and (hover: none) {
  .popup__box {
    height: 50%;
  }
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__box {
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 2rem;
    height: 60%;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__box {
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 2rem;
    height: 75%;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__box {
    height: 80%;
    width: 99%;
    padding: 1rem 1.5rem;
    justify-content: flex-start;
  }
}
.popup__close {
  position: absolute;
  top: 1rem;
  right: 2.4rem;
  font-size: 3rem;
  font-weight: 700;
  color: #09254c;
  cursor: pointer;
}
@media only screen and (min-width: 112.5em) {
  .popup__close {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__close {
    top: 0.4rem;
    right: 1.4rem;
    font-size: 2rem;
  }
}
.popup__right {
  width: 35%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__right {
    height: 35%;
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__right {
    height: 35%;
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right {
    width: 95%;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}
.popup__right-top {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__right-bottom {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__right-bottom {
    justify-content: space-around;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__right-bottom {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right-bottom {
    margin-top: 0rem;
  }
}
.popup__right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translateY(-50%);
  height: 40%;
  width: 2px;
  background-color: #09254c;
}
@media only screen and (min-width: 112.5em) {
  .popup__right::after {
    height: 60%;
  }
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__right::after {
    top: 120%;
    right: 50%;
    height: 2px;
    width: 70%;
    transform: translateX(50%);
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__right::after {
    top: 120%;
    right: 50%;
    height: 2px;
    width: 70%;
    transform: translateX(50%);
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right::after {
    top: 113%;
    right: 50%;
    height: 2px;
    width: 65%;
  }
}
.popup__left {
  height: 80%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem 4rem;
}
@media only screen and (min-width: 62.5em) and (min-height: 81.25em) {
  .popup__left {
    height: 35%;
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__left {
    height: 35%;
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__left {
    width: 95%;
  }
}
.popup__image-box {
  height: 20rem;
  width: 90%;
  overflow: hidden;
  border-radius: 1rem;
  background-image: linear-gradient(rgba(35, 74, 152, 0.096) 0%, rgba(35, 74, 152, 0.096) 42%, rgba(35, 74, 152, 0.432));
}
@media only screen and (min-width: 112.5em) {
  .popup__image-box {
    height: 30rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__image-box {
    margin-bottom: 0rem;
    height: 15rem;
    width: 80%;
  }
}
.popup__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  box-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.2);
}
.popup__button {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 112.5em) {
  .popup__button {
    font-size: 2.4rem;
    padding: 1.2rem 2.5rem;
  }
}
@media only screen and (min-width: 64em) and (max-height: 50em) {
  .popup__button {
    font-size: 1.8rem;
    padding: 0.6rem 1.2rem;
  }
}
@media only screen and (max-width: 75em) {
  .popup__button {
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__button {
    padding: 0.4rem 1rem;
  }
}
.popup__button svg {
  margin-right: 1rem;
}
@media only screen and (min-width: 112.5em) {
  .popup__button svg {
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media only screen and (max-width: 75em) {
  .popup__button svg {
    height: 2.6rem;
    width: 2.6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__button svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.popup__button--full {
  background-color: #09254c;
  color: #f4f4f4;
}
.popup__button--full svg {
  fill: #f4f4f4;
}
.popup__button--half {
  border: 1px solid #09254c;
  color: #09254c;
  font-weight: 500;
}
.popup__button--half svg {
  fill: #09254c;
}
.popup__title {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #1f4287;
}
@media only screen and (min-width: 112.5em) {
  .popup__title {
    font-size: 5rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__title {
    font-size: 2.4rem;
  }
}
.popup__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 95%;
}
@media only screen and (min-width: 112.5em) {
  .popup__tags {
    margin: 2.2rem 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__tags {
    margin: 1.5rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__tags {
    margin: 1rem 0;
  }
}
.popup__description {
  text-align: justify;
}
@media only screen and (min-width: 112.5em) {
  .popup__description {
    font-size: 2.4rem;
    letter-spacing: 0.5px;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__description {
    font-size: 1.7rem;
  }
}

.tag {
  padding: 0.5rem 0.7rem;
  color: #eee;
  background-color: #248297;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.tag:not(:last-child) {
  margin-right: 1rem;
}
@media only screen and (min-width: 112.5em) {
  .tag {
    padding: 0.6rem 1.2rem;
    font-size: 2.4rem;
    letter-spacing: 0.4px;
  }
}

/* cursor */
.typewriter-content > .txt {
  position: relative;
  border-right: 2px solid transparent;
}
.typewriter-content > .txt::after {
  content: "";
  height: 90%;
  width: 2px;
  background-color: #09254c;
  position: absolute;
  right: -0.5rem;
  top: 0;
  animation: blink 1.06s infinite backwards;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cta {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s, transform 0.01s;
}
@media only screen and (max-width: 37.5em) {
  .cta {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
}
.cta:active {
  transform: translateY(0.2rem);
}
.cta--primary {
  color: #dddddd;
  background-color: #09254c;
}
.cta--primary:hover {
  background-color: #092041;
  color: #eee;
}
.cta--secondary {
  background-color: transparent;
  border: 1px solid #09254c;
  color: #09254c;
}
.cta--secondary:hover {
  background-color: #09254c;
  color: #eee;
}

@keyframes navFadeDown {
  0% {
    top: 45%;
    opacity: 0.2;
  }
  80% {
    top: 115%;
    opacity: 0.9;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

.page-container {
  display: grid;
  grid-template-rows: 100vh repeat(2, min-content) max-content min-content 25rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

::selection {
  background-color: #83d0e2;
  color: #f4f4f4;
}

/* Works on Firefox */
/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 1rem;
  border-radius: 2rem;
}

body::-webkit-scrollbar-track {
  background-color: #021334;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#20a59e, #8fcc8e);
  border-radius: 2rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #777;
}

.section__header {
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(to right bottom, #4b7ad6, #09254c);
  letter-spacing: 0.5px;
  line-height: 1.6;
  -webkit-background-clip: text;
  position: relative;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .section__header {
    font-size: 3.4rem;
  }
}
.section__header span {
  text-transform: none;
}
.section__header::after {
  content: "";
  background-color: #09254c;
  height: 2px;
  width: 35%;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.section__sub-header {
  display: inline-block;
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  color: #248297;
  letter-spacing: 0.4px;
  line-height: 1.6;
  font-weight: 400;
}

.u-center-text {
  text-align: center !important;
}

.u-text--1 {
  font-size: 0.6rem !important;
}

.u-text--2 {
  font-size: 1.2rem !important;
}

.u-text--3 {
  font-size: 1.8rem !important;
}

.u-text--4 {
  font-size: 2.4rem !important;
}

.u-text--5 {
  font-size: 3rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-huge {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-1 {
  margin-top: 0.8rem !important;
}

.u-margin-top-2 {
  margin-top: 1.2rem !important;
}

.u-margin-top-3 {
  margin-top: 1.8rem !important;
}

.u-margin-top-4 {
  margin-top: 2.4rem !important;
}

.u-margin-top-5 {
  margin-top: 3rem !important;
}

.u-margin-left-1 {
  margin-left: 0.6rem !important;
}

.u-margin-left-2 {
  margin-left: 1.2rem !important;
}

.u-margin-left-3 {
  margin-left: 1.8rem !important;
}

.u-margin-bottom-4 {
  margin-bottom: 2.4rem !important;
}

.u-margin-bottom-5 {
  margin-bottom: 3rem !important;
}

.header {
  grid-column: full-start/full-end;
  background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%);
  background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%), url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-blend-mode: overlay;
}
@media only screen and (max-width: 37.5em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%), url(../img/hero-small.jpg);
    background-position: top left;
  }
}
.header__hero-box {
  position: absolute;
  top: 65%;
  left: 5%;
  height: min-content;
  width: 42vw;
  border-radius: 0.5rem;
  transform: translateY(-60%);
  background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  padding: 2rem 3.5rem;
}
@media only screen and (min-width: 112.5em) {
  .header__hero-box {
    width: 30vw;
  }
}
@media only screen and (max-width: 75em) {
  .header__hero-box {
    width: 55vw;
    top: 70%;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__hero-box {
    top: 65%;
    left: 3%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__hero-box {
    width: 80vw;
    top: 70%;
    left: 2%;
  }
}
.header__hero-title {
  font-size: 7rem;
  font-family: "Combo", cursive;
  color: #09254c;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 56.25em) {
  .header__hero-title {
    font-size: 6.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__hero-title > span {
    margin-right: 2rem;
  }
}
.header__hero-subtitle {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  color: #f4f4f4;
  margin-bottom: 4rem;
  letter-spacing: 1px;
}
@media only screen and (max-width: 56.25em) {
  .header__hero-subtitle {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}
.header__hero-cta-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.header__hero-cta-box > :first-child {
  margin-right: 3rem;
}
@media only screen and (min-width: 112.5em) {
  .header__hero-cta-box > :first-child {
    margin-right: 4rem;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.88);
  grid-column: full-start/full-end;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem 6rem;
  justify-content: center;
  align-items: center;
}
.footer__nav, .footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__nav-item:not(:last-child) {
  margin-right: 2rem;
}
.footer__nav-link {
  text-decoration: none;
  font-size: 2rem;
  line-height: 1.6;
  color: inherit;
  transition: color 0.3s;
}
.footer__nav-link:hover {
  color: #dddddd;
}
.footer__link {
  display: inline-block;
  margin: 1rem 0;
  transition: all 0.3s;
}
.footer__link:not(:last-child) {
  margin-right: 2rem;
}
.footer__link:hover {
  transform: translateY(-0.3rem);
}
.footer__link:active {
  transform: translateY(-0.1rem);
}
.footer__link--github:hover svg {
  fill: #4183c4;
}
.footer__link--linkedin:hover svg {
  fill: #0a66c2;
}
.footer__link svg {
  height: 2.8rem;
  width: 2.8rem;
  fill: #777;
  transition: fill 0.3s;
}
.footer__message {
  grid-column: 1/-1;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 0.2px;
  line-height: 1.6rem;
}

.nav {
  background-image: linear-gradient(rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  width: 100%;
  height: min-content;
  padding: 1.1rem 3rem;
  position: relative;
  transition: all 0.6s;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 1rem 0;
    display: block;
    height: min-content;
  }
}
.nav__left, .nav__right {
  display: flex;
  align-items: center;
}
.nav__left {
  justify-content: space-between;
}
.nav__right {
  width: min-content;
  margin-left: auto;
}
@media only screen and (max-width: 37.5em) {
  .nav__right.is-active {
    margin-left: -1rem;
    position: absolute;
    top: 100%;
    height: min-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
    animation: navFadeDown 0.5s ease-out;
    animation-fill-mode: backwards;
    justify-content: space-evenly;
  }
  .nav__right.is-active .nav__item {
    margin: 0.5rem 2rem;
  }
  .nav__right.is-active .nav__item:last-child {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__right {
    display: none;
  }
}
.nav__item {
  font-weight: 300;
  text-align: center;
}
.nav__item:not(:last-child) {
  margin-right: 4rem;
}
@media only screen and (min-width: 112.5em) {
  .nav__item:not(:last-child) {
    margin-right: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item:not(:last-child) {
    margin-right: 3rem;
  }
}
.nav__item-link:link, .nav__item-link:visited {
  font-size: 2.4rem;
  font-weight: 400;
  display: inline-block;
  color: #f4f4f4;
  letter-spacing: 0.4px;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;
}
@media only screen and (min-width: 112.5em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 3rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 2rem;
    font-weight: 400;
  }
}
.nav__item-link::after {
  content: "";
  position: absolute;
  background-color: #09254c;
  height: 2px;
  width: 0%;
  bottom: -5%;
  left: 0;
  backface-visibility: hidden;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .nav__item-link::after {
    height: 1px;
  }
}
.nav__item-link:hover {
  color: #fafafa;
}
.nav__item-link:hover::after {
  width: 100%;
}
.nav__logo-box {
  font-family: "Combo", cursive;
  font-size: 4.5rem;
  font-weight: bolder;
  color: #09254c;
}
@media only screen and (min-width: 112.5em) {
  .nav__logo-box {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__logo-box {
    margin-left: 1rem;
    font-size: 4rem;
  }
}
.nav__ham {
  height: 2rem;
  width: 2.5rem;
  position: relative;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .nav__ham {
    display: block;
    margin-right: 2rem;
  }
}
.nav__ham-line {
  background-color: #09254c;
  width: 95%;
  height: 1px;
  display: inline-block;
}
.nav__ham-line--1 {
  position: absolute;
  top: 0;
}
.nav__ham-line--2 {
  position: absolute;
  top: 50%;
}
.nav__ham-line--3 {
  position: absolute;
  bottom: 0;
}
.nav__ham.is-active .nav__ham-line {
  transition: all 0.1s;
}
.nav__ham.is-active .nav__ham-line--1 {
  transform: rotate(-135deg);
  top: 50%;
}
.nav__ham.is-active .nav__ham-line--2 {
  background-color: transparent;
}
.nav__ham.is-active .nav__ham-line--3 {
  top: 50%;
  transform: rotate(135deg);
}

/**
* Sticky nav
*/
.nav.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-image: none;
  background-color: rgba(236, 236, 236, 0.96);
  border-radius: 0 0 0.6rem 0.6rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  z-index: 45;
}
.nav.is-sticky .nav__item-link:link,
.nav.is-sticky .nav__item-link:visited {
  color: #09254c;
}
.nav.is-sticky .nav__right.is-active {
  margin-left: 0;
  margin-top: -0.5rem;
  z-index: 100;
  background-image: none;
  background-color: #dddddd;
}
.nav.is-sticky .nav__right.is-active .nav-item-link {
  color: #09254c;
}

.section-portfolio {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .section-portfolio {
    padding: 8rem 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-portfolio {
    padding: 6.5rem 4rem;
  }
}
.section-portfolio__projects {
  align-self: stretch;
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 8rem 6rem;
  justify-items: center;
}
@media only screen and (min-width: 112.5em) {
  .section-portfolio__projects {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  }
}
@media only screen and (max-width: 75em) {
  .section-portfolio__projects {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-portfolio__projects {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-portfolio__projects {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 6rem;
  }
}

.section-about {
  min-height: 80vh;
  height: min-content;
  position: relative;
  text-align: inherit;
  background-image: linear-gradient(#1f4287 0%, rgba(31, 66, 135, 0.85) 25%, rgba(31, 66, 135, 0.7) 50%, rgba(31, 66, 135, 0.85) 75%, #1f4287 100%), url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  box-shadow: inset 0 2rem 10rem rgba(0, 0, 0, 0.2), inset 0 -2rem 10rem rgba(0, 0, 0, 0.2);
  background-attachment: fixed;
}
@media only screen and (max-width: 75em) {
  .section-about {
    height: 80vh;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-about {
    height: 60vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about {
    height: 85vh;
    background-image: linear-gradient(#1f4287 0%, rgba(31, 66, 135, 0.85) 25%, rgba(31, 66, 135, 0.7) 50%, rgba(31, 66, 135, 0.85) 75%, #1f4287 100%), url(../img/3sm.jpg);
  }
}
@media only screen and (min-width: 45em) and (max-height: 33.75em) and (hover: none) {
  .section-about {
    height: 100vh;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 85.375em) and (hover: none) {
  .section-about {
    height: 70vh;
  }
}
.section-about__desc {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
  border-radius: 0.5rem;
  background-image: linear-gradient(to top right, rgba(244, 244, 244, 0.2) 0%, rgba(244, 244, 244, 0.77) 27%, rgba(244, 244, 244, 0.8));
  min-height: 45%;
  height: min-content;
  width: 45%;
  overflow: hidden;
  box-shadow: 0 1.6rem 5rem rgba(0, 0, 0, 0.9);
  padding: 3rem 4rem 2rem;
}
@media only screen and (min-width: 112.5em) {
  .section-about__desc {
    width: 35%;
  }
}
@media only screen and (max-width: 75em) {
  .section-about__desc {
    width: 55%;
  }
}
@media only screen and (min-width: 64em) and (max-height: 85.375em) and (hover: none) {
  .section-about__desc {
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
    width: 55%;
  }
}
@media only screen and (min-width: 45em) and (max-height: 33.75em) and (hover: none) {
  .section-about__desc {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about__desc {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
  }
}
.section-about__desc-title {
  font-size: 5rem;
  font-family: "Combo", cursive;
  letter-spacing: 0.5px;
  font-weight: bolder;
  color: #4b7ad6;
  margin: 2rem 0;
}
@media only screen and (max-width: 75em) {
  .section-about__desc-title {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about__desc-title {
    font-size: 3rem;
    margin: 1.5rem 0;
  }
}
.section-about__desc-title-sub {
  display: block;
  margin-top: 0.4rem;
}
.section-about__desc-body {
  margin: 3rem 0;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
  color: #0b3166;
  text-align: justify;
}
@media only screen and (max-width: 37.5em) {
  .section-about__desc-body {
    font-size: 1.8rem;
    margin: 2rem 0;
  }
}

.section-contact {
  min-height: 90vh;
  height: min-content;
  background-image: linear-gradient(to bottom left, #83d0e2, #0b3166 80%);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-contact__box {
  padding: 2.5rem 3rem;
  height: min-content;
  width: 90%;
  background-image: linear-gradient(75deg, rgba(255, 255, 255, 0.85) 0, rgba(255, 255, 255, 0.8) 55%, transparent 55%), url(../img/4.jpg);
  background-size: cover;
  background-position: top left;
  border-radius: 0.5rem;
  box-shadow: 0 1.6rem 7rem rgba(35, 74, 152, 0.7);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 56.25em) {
  .section-contact__box {
    background: none;
    background-image: linear-gradient(75deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8));
  }
}
@media only screen and (max-width: 37.5em) {
  .section-contact__box {
    padding: 1.5rem 0.5rem;
    width: 98%;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-contact__box {
    justify-content: center;
  }
}
.section-contact__box-content {
  height: 95%;
  width: 55%;
  padding: 1rem 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .section-contact__box-content {
    width: 90%;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-contact__box-content {
    width: 100%;
  }
}

.section-quotes {
  background-color: #efefefb3;
  box-shadow: inset 0 1.6rem 1rem rgba(0, 0, 0, 0.35), inset 0 -1.6rem 1rem rgba(0, 0, 0, 0.35);
}
.section-quotes__content {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 6rem 8rem;
  margin: 5rem auto;
}
@media only screen and (max-width: 75em) {
  .section-quotes__content {
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
@media only screen and (max-width: 37.5em) {
  .section-quotes__content {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
.section-quotes__box {
  padding: 0.5rem 3rem;
  height: 20rem;
  width: 100%;
  background-color: #fefefec7;
  position: relative;
  border-radius: 0 0 1rem 0;
  box-shadow: 0.8rem 0.5rem 0.8rem rgba(0, 0, 0, 0.15);
  transition: transform 1s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  overflow: hidden;
}
@media only screen and (max-width: 75em) {
  .section-quotes__box {
    height: 32rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-quotes__box {
    height: 30rem;
  }
}
.section-quotes__box:nth-child(odd) {
  opacity: 0;
  transform: translate3d(-10rem, 0, 0) scale(0.6);
}
.section-quotes__box:nth-child(odd).show-quotes {
  opacity: 1;
  transform: translateZ(0) scale(1);
}
.section-quotes__box:nth-child(even) {
  opacity: 0;
  transform: translate3d(10rem, 0, 0) scale(0.6);
}
.section-quotes__box:nth-child(even).show-quotes {
  opacity: 1;
  transform: translateZ(0) scale(1);
}
.section-quotes__box:hover {
  box-shadow: 1.2rem 0.8rem 1.2rem rgba(0, 0, 0, 0.2);
}
.section-quotes__box::after {
  content: "❝";
  position: absolute;
  color: #77777712;
  left: -1.5rem;
  top: -8rem;
  font-size: 30rem;
}
.section-quotes__quote {
  font-size: 2.6rem;
  font-style: italic;
  color: #333;
  text-align: left;
  line-height: 1.4;
  letter-spacing: 0.1px;
  margin: 1.2rem 0;
}
.section-quotes__author {
  font-size: 2.7rem;
  color: #333;
  align-self: flex-end;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-right: 3rem;
}

section {
  grid-column: full-start/full-end;
  padding: 8rem 4rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
