/*
0-600px 	    PHONE
600-900px       TABLET PORTRAIT
900-1200px      TABLET LANDSCAPE
1200-1800px     IS WHERE OUR NORMAL STYLES APPLY
1800px+         BIG DESKTOP
$breakpoint arguments
-- phone
--tab-port
--tab-land
--big-desktop
1em = 16px;
ORDER:
BASE + TYPOGRAPHY
GENERAL LAYOUT + GRID
PAGE LAYOUT
COMPONENTS
*/
.section__header {
  display: inline-block;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(to right bottom, #4b7ad6, #09254c);
  letter-spacing: 0.5px;
  -webkit-background-clip: text;
  position: relative;
}
.section__header::after {
  content: "";
  background-color: #09254c;
  height: 2px;
  width: 35%;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  height: 30rem;
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.3);
  background-color: #dddddd;
  overflow: hidden;
  position: relative;
}
.card:hover .card__image {
  transform: scale(1.05);
  filter: blur(5px);
}
.card:hover .card__details-box {
  transform: translateX(100%);
}
.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.15);
  transition: all 0.4s;
}
.card__details-box {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: transform 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card__details-title {
  justify-self: start;
  text-align: left;
  margin-left: 3rem;
  line-height: 1.6;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #1f4287;
  letter-spacing: 1px;
}
.card__details-title span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  border-radius: 0.3rem;
}
.card__details-button {
  display: inline-block;
  width: min-content;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  font-weight: 400;
  background-color: #09254c;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-left: 3rem;
  cursor: pointer;
  transition: transform 0.1s;
}
.card__details-button:active {
  transform: translateY(2px);
}

@keyframes navFadeDown {
  0% {
    top: 45%;
    opacity: 0.2;
  }
  80% {
    top: 115%;
    opacity: 0.9;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

.page-container {
  display: grid;
  grid-template-rows: 100vh min-content repeat(8, 45rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

::selection {
  background-color: #83d0e2;
  color: #f4f4f4;
}

/* Works on Firefox */
/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 1rem;
  border-radius: 2rem;
}

body::-webkit-scrollbar-track {
  background-color: #021334;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#20a59e, #8fcc8e);
  border-radius: 2rem;
}

.cta {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s, transform 0.01s;
}
@media only screen and (max-width: 37.5em) {
  .cta {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
}
.cta:active {
  transform: translateY(0.2rem);
}
.cta--primary {
  color: #dddddd;
  background-color: #09254c;
}
.cta--primary:hover {
  background-color: #092041;
  color: #eee;
}
.cta--secondary {
  background-color: transparent;
  border: 1px solid #09254c;
  color: #09254c;
}
.cta--secondary:hover {
  background-color: #09254c;
  color: #eee;
}

.header {
  grid-column: full-start/full-end;
  background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%);
  background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%), url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-blend-mode: overlay;
}
@media only screen and (max-width: 37.5em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(31, 66, 135, 0.3) 0%, rgba(31, 66, 135, 0.4) 15%, rgba(31, 66, 135, 0.6) 40%, #1f4287 85%), url(../img/hero-small.jpg);
    background-position: top left;
  }
}
.header__hero-box {
  position: absolute;
  top: 65%;
  left: 5%;
  height: min-content;
  width: 50vw;
  border-radius: 0.5rem;
  transform: translateY(-60%);
  background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  padding: 2rem 3.5rem;
}
@media only screen and (min-width: 112.5em) {
  .header__hero-box {
    width: 30vw;
  }
}
@media only screen and (max-width: 75em) {
  .header__hero-box {
    width: 55vw;
    top: 70%;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__hero-box {
    top: 65%;
    left: 3%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__hero-box {
    width: 80vw;
    top: 70%;
    left: 2%;
  }
}
.header__hero-title {
  font-size: 7rem;
  font-family: "Combo", cursive;
  color: #09254c;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 56.25em) {
  .header__hero-title {
    font-size: 6.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__hero-title > span {
    margin-right: 2rem;
  }
}
.header__hero-subtitle {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  color: #f4f4f4;
  margin-bottom: 4rem;
  letter-spacing: 1px;
}
@media only screen and (max-width: 56.25em) {
  .header__hero-subtitle {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}
.header__hero-cta-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.header__hero-cta-box > :first-child {
  margin-right: 3rem;
}
@media only screen and (min-width: 112.5em) {
  .header__hero-cta-box > :first-child {
    margin-right: 4rem;
  }
}

.nav {
  background-image: linear-gradient(rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
  width: 100%;
  height: min-content;
  padding: 1.1rem 3rem;
  position: relative;
  transition: all 0.6s;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 1rem 0;
    display: block;
    height: min-content;
  }
}
.nav__left, .nav__right {
  display: flex;
  align-items: center;
}
.nav__left {
  justify-content: space-between;
}
.nav__right {
  width: min-content;
  margin-left: auto;
}
@media only screen and (max-width: 37.5em) {
  .nav__right.is-active {
    margin-left: -1rem;
    position: absolute;
    top: 100%;
    height: min-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.096) 0%, rgba(153, 153, 153, 0.096) 42%, rgba(153, 153, 153, 0.432));
    animation: navFadeDown 0.5s ease-out;
    animation-fill-mode: backwards;
    justify-content: space-evenly;
  }
  .nav__right.is-active .nav__item {
    margin: 0.5rem 2rem;
  }
  .nav__right.is-active .nav__item:last-child {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__right {
    display: none;
  }
}
.nav__item {
  font-weight: 300;
  text-align: center;
}
.nav__item:not(:last-child) {
  margin-right: 4rem;
}
@media only screen and (min-width: 112.5em) {
  .nav__item:not(:last-child) {
    margin-right: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item:not(:last-child) {
    margin-right: 3rem;
  }
}
.nav__item-link:link, .nav__item-link:visited {
  font-size: 2.4rem;
  font-weight: 400;
  display: inline-block;
  color: #f4f4f4;
  letter-spacing: 0.4px;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;
}
@media only screen and (min-width: 112.5em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 3rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__item-link:link, .nav__item-link:visited {
    font-size: 2rem;
    font-weight: 400;
  }
}
.nav__item-link::after {
  content: "";
  position: absolute;
  background-color: #09254c;
  height: 2px;
  width: 0%;
  bottom: -5%;
  left: 0;
  backface-visibility: hidden;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .nav__item-link::after {
    height: 1px;
  }
}
.nav__item-link:hover {
  color: #fafafa;
}
.nav__item-link:hover::after {
  width: 100%;
}
.nav__logo-box {
  font-family: "Combo", cursive;
  font-size: 4.5rem;
  font-weight: bolder;
  color: #09254c;
}
@media only screen and (min-width: 112.5em) {
  .nav__logo-box {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__logo-box {
    margin-left: 1rem;
    font-size: 4rem;
  }
}
.nav__ham {
  height: 2rem;
  width: 2.5rem;
  position: relative;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .nav__ham {
    display: block;
    margin-right: 2rem;
  }
}
.nav__ham-line {
  background-color: #09254c;
  width: 95%;
  height: 1px;
  display: inline-block;
}
.nav__ham-line--1 {
  position: absolute;
  top: 0;
}
.nav__ham-line--2 {
  position: absolute;
  top: 50%;
}
.nav__ham-line--3 {
  position: absolute;
  bottom: 0;
}
.nav__ham.is-active .nav__ham-line {
  transition: all 0.1s;
}
.nav__ham.is-active .nav__ham-line--1 {
  transform: rotate(-135deg);
  top: 50%;
}
.nav__ham.is-active .nav__ham-line--2 {
  background-color: transparent;
}
.nav__ham.is-active .nav__ham-line--3 {
  top: 50%;
  transform: rotate(135deg);
}

/**
* Sticky nav
*/
.nav.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-image: none;
  background-color: rgba(236, 236, 236, 0.96);
  border-radius: 0 0 0.6rem 0.6rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  z-index: 45;
}
.nav.is-sticky .nav__item-link:link,
.nav.is-sticky .nav__item-link:visited {
  color: #09254c;
}
.nav.is-sticky .nav__right.is-active {
  margin-left: 0;
  margin-top: -0.5rem;
  z-index: 100;
  background-image: none;
  background-color: #dddddd;
}
.nav.is-sticky .nav__right.is-active .nav-item-link {
  color: #09254c;
}

.section-portfolio {
  grid-column: full-start/full-end;
  background-color: #eee;
  padding: 8rem 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-portfolio__projects {
  align-self: stretch;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
  justify-items: center;
}

/*# sourceMappingURL=style.css.map */
