.divider {
  display: flex;
  height: 3rem;
  width: 90%;

  justify-content: center;
  align-items: center;

  &__text {
    font-size: 2rem;
    color: $color-grey-dark-3;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.1px;
    position: relative;

    &::before,
    &::after {
      content: '';
      height: 1px;
      width: 15rem;
      background-color: $color-grey-dark;
      position: absolute;
      top: 50%;
    }

    &::before {
      left: 150%;
    }
    &::after {
      right: 150%;
    }
  }
}
