.form {
  // background-color: rgba(144, 238, 144, 0.158);
  padding: 1rem 1.4rem;
  height: min-content;

  &__control {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__label {
    display: block;
    font-size: 1.5rem;
    opacity: 1;
    color: $color-grey-dark-2;
    font-weight: 500;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    transition: all 0.3s;
    transform: translateY(0);
  }

  &__input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: $color-grey-dark-2;
    letter-spacing: 0.2px;
    padding: 0.8rem 1rem;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0.5rem;
    background-color: rgba($color-grey-light-1, 0.4);
    text-indent: 1rem;
    height: 4.5rem;
    width: 80%;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary-dark;
    }

    &:focus:invalid {
      border-bottom: 3px solid orangered;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(-4rem);
  }

  &__textarea {
    height: 15rem !important;
    width: 80% !important;
  }
}
