.section {
  &__header {
    display: inline-block;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-secondary-dark
    );
    letter-spacing: 0.5px;
    line-height: 1.6;
    -webkit-background-clip: text;
    position: relative;
    margin-bottom: 5rem;

    @include respond(tab-port) {
      font-size: 3.4rem;
    }

    &::after {
      content: '';
      background-color: $color-secondary-dark;
      height: 2px;
      width: 35%;
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__sub-header {
    display: inline-block;
    font-size: 3rem;
    font-family: $my-font-fam;
    color: $color-tertiary-dark;
    letter-spacing: 0.4px;
    line-height: 1.6;
    font-weight: 400;
  }
}
