*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem should be
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9/16
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8/16 =.5
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px; 12/16
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: $default-font-fam;
}

.page-container {
  display: grid;
  // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-rows: 100vh repeat(8, 45rem);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start]
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  // @media only screen and (max-width: $tab-land) {
  // }
}

::selection {
  background-color: $color-tertiary-light;
  color: $color-grey-light-2;
}
