.section-portfolio {
  grid-column: full-start / full-end;

  background-color: $color-grey-light-3;
  padding: 8rem 4rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__projects {
    align-self: stretch;
    margin: 6rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 8rem 6rem;

    justify-items: center;
  }

  &__btn {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;
    font-family: $my-font-fam;
    letter-spacing: 0.4px;
    padding: 0.4rem 0.6rem;
    margin-top: 2rem;
    color: $color-tertiary-dark;
    outline: none;
    border: none;
    border-bottom: 1px solid $color-tertiary-dark;
    background-color: transparent;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-0.5rem);
      background-color: $color-tertiary-dark;
      color: $color-grey-light-2;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.8rem 2.5rem rgba($color-black, 0.5);
    }
  }
}
